* {
    padding: 0;
    font-family: Arial;
    margin: 0;
}


.center {
    text-align: center;
}

body {
    background: rgb(238, 238, 238);

}

.menutopo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.menutopo {
    display: flex;
    justify-content: space-between;
    padding: 1.04vh 4.69vw 1.25vh 7.39vw;
    align-items: center;
    padding-top: 3.5vh;
    padding-bottom: 1.39vh;
    position: relative;
    font-size: 0.68vw;
    z-index: 1;
}

#contato {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 0.15625vw;
    padding: 0.48vh 0.63vw 0.48vh 0.63vw;
    align-items: center;
    opacity: 100%;
    position: absolute;
    transition: 0.7s;
    right: 6.25vw;
    border-style: solid;
    border-width: 0.14vh;
    background-color: white;
}


#curiosidades {
    margin-right: 43.08vw;
}

.topo a, th {
    opacity: 70%;
    transition: 0.6s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
}


.rodape {
    color: white;
    text-align: center;
    align-items: center;
    margin-top: -99vh;
}

.th{
    display: inline-block;
    text-decoration: none;
    display: flex;
}

table{
    margin-left: -12vh;
    margin-top: -10vh;
    white-space: nowrap;
}

th, a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2vh;
}
.dropmenu a {
    display: block;
    padding: 0.42vh 0 0.88vh 0;
}

.dropmenu {
    background-color: transparent;
    position: absolute;
    padding-top: 1.09vh;
    display: none;
    overflow: hidden;
    transition: all 2s ease;
}

.drop {
    display: block;
    align-items: center;
    font-weight: 100;
    font-size: 2vh;
    text-align: left;
}

.drop a{
    margin: 1vh 0 0 0;
}

.drop:hover .dropmenu {
    display: block;
}



.drop:hover .bgrecursos {
    display: block;
}

#contato{
    margin-left: 62vh;
    margin-top: -2vh;
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.rodape {
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    margin-top: 73vh;
    z-index: 1;
}   

.bolinha{
    font-size: 2vh;
    margin-left: 44.2vh;
    margin-top: 12.4vh;
    position: absolute;

}

.paragr{
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 7vh;
    margin-top: -2vh;
    margin-bottom: 15vh;
    position: absolute;
    margin-left: 75.8vh;
}



.block1{
    width: 25%;
    letter-spacing: 0.05vh;
    font-size: 2.5vh;
    padding: 2vh;
    border-radius: 1vh;
    background-color: rgb(255, 255, 255);
    padding: 10vh 3vh 4vh 3vh;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, 0.113);
}

.block2{
    width: 25%;
    letter-spacing: 0.05vh;
    font-size: 2.5vh;
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 1vh;
    padding: 10vh 3vh 4vh 3vh;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, 0.113);
}

.blocks{
    justify-content: space-evenly;
    display: flex;
    margin-top: 2vh;
    position: absolute;
    z-index: -1;
    margin-top: 13vh;
}

.historia{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 89vh;
    margin-top: -3vh;
    font-size: 6vh;
    letter-spacing: 0.1vh;
}

.cultura{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 89vh;
    margin-top: -3vh;
    font-size: 6vh; 
    letter-spacing: 0.1vh;
}


.titulo2parte{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 7vh;
    margin-top: -7vh;
    margin-bottom: 15vh;
    position: absolute;
    margin-left: 56vh;
    margin-top: 76vh;
}


.block3{
    width: 25%;
    letter-spacing: 0.05vh;
    font-size: 2.5vh;
    padding: 2vh;
    border-radius: 1vh;
    background-color: rgb(255, 255, 255);
    padding: 10vh 3vh 4vh 3vh;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, 0.113);
}

.block4{
    width: 25%;
    letter-spacing: 0.05vh;
    font-size: 2.5vh;
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 1vh;
    padding: 10vh 3vh 4vh 3vh;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, 0.113);
}

.blocks2{
    justify-content: space-evenly;
    display: flex;
    margin-top: 94vh;
    position: absolute;
    z-index: -1;
}

.mapa{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 89vh;
    margin-top: -3vh;
    font-size: 6vh;
    letter-spacing: 0.1vh;
}

.populacao{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 89vh;
    margin-top: -3vh;
    font-size: 6vh; 
    letter-spacing: 0.1vh;
}

.blocks3{
    justify-content: space-evenly;
    display: flex;
    margin-top: 160vh;
    z-index: -1;
}

.block5{
    width: 80vh;
    height: 40vh;
    letter-spacing: 0.05vh;
    font-size: 2.5vh;
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 1vh;
    padding: 10vh 3vh 4vh 3vh;
    box-shadow: 0px 0px 10px rgba(55, 55, 55, 0.113);
}

.bandeira{
    width: 37%;
    border-radius: 1vh;
    margin-top: 164vh;
    margin-left: 65.6vh;
}

.bandeiratxt{
    margin-left: 90vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 89vh;
    margin-top: -54vh;
    font-size: 6vh; 
    letter-spacing: 0.1vh;
}

.mapalux1{
    position: absolute;
    margin-left: 134vh;
    margin-top: 100vh;
    width: 14%;
}

.setavoltar{
    width: 2%;
    padding: 2vh;
    margin-top: -7vh;
}